<launch>

  <arg name="enable_imu" default="false" />
  <arg name="enable_realsense_sync" default="true" />
  <arg name="color_width" default="640" />
  <arg name="color_height" default="480" />
  <arg name="color_fps" default="15" />
  <arg name="depth_width" default="640" />
  <arg name="depth_height" default="480" />
  <arg name="depth_fps" default="15" />

  <!-- 1. Start RealSense INSTANTLY -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="align_depth"         value="true"/>
      <arg name="enable_pointcloud"   value="false"/>
      <arg name="enable_sync"         value="$(arg enable_realsense_sync)"/>
      <arg name="color_width"         value="$(arg color_width)"/>
      <arg name="color_height"        value="$(arg color_height)"/>
      <arg name="color_fps"           value="$(arg color_fps)"/>
      <arg name="depth_width"         value="$(arg depth_width)"/>
      <arg name="depth_height"        value="$(arg depth_height)"/>
      <arg name="depth_fps"           value="$(arg depth_fps)"/>
      <arg name="enable_accel"        value="false"/>
      <arg name="enable_gyro"         value="false"/>
      <arg name="enable_infra1"       value="false"/>
      <arg name="enable_infra2"       value="false"/>
  </include>

  <!-- 2. Start the AGV base driver (Delayed 5s) -->
  <arg name="serial_port" default="/dev/ttyACM0" />
  <node pkg="myagv_odometry" type="myagv_odometry_node" name="myagv_odometry_node" output="screen"
        launch-prefix="bash -c 'sleep 5; $0 $@' ">
    <rosparam command="load" file="$(find agv_bringup)/config/base.yaml" />
    <param name="serial_port" value="$(arg serial_port)" />
  </node>

  <!-- 3. Start the YDLIDAR X2 driver (Delayed 6s) -->
  <node name="ydlidar_lidar_publisher"  pkg="ydlidar_ros_driver"  type="ydlidar_ros_driver_node" output="screen"
        launch-prefix="bash -c 'sleep 6; $0 $@' " >
    <param name="port"         type="string" value="/dev/ttyAMA0"/>  
    <param name="frame_id"     type="string" value="laser_frame"/>
    <param name="baudrate"         type="int" value="115200"/>  
    <param name="lidar_type"       type="int" value="1"/>  
    <param name="device_type"         type="int" value="0"/>  
    <param name="sample_rate"         type="int" value="3"/>  
    <param name="resolution_fixed"    type="bool"   value="true"/>
    <param name="auto_reconnect"    type="bool"   value="true"/>
    <param name="reversion"    type="bool"   value="false"/>
    <param name="inverted"    type="bool"   value="true"/>
    <param name="isSingleChannel"    type="bool"   value="true"/>
    <param name="support_motor_dtr"    type="bool"   value="true"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="range_min"    type="double" value="0.1" />
    <param name="range_max"    type="double" value="12.0" />
    <param name="frequency"    type="double" value="10.0"/>
  </node>

  <!-- 4. Static TFs (Instant) -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_camera_link"
        args="-0.132025 0.000153 0.187925 -1.570796 -0.007906 1.570796 /base_footprint /camera_link 40" />

  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link"
        args="0.0 0.0 0.0 0.0 0.0 0.0 /base_footprint /base_link 40" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_imu_link"
        args="0.0 0.0 0.0 0.0 3.14159 3.14159 /base_footprint /imu_link 40" />
        
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"
        args="0.0 0.0 0.10 0.0 0.0 0.0 /base_footprint /laser_frame 40" />

</launch>
